.App{
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-auto-rows: 40px;
  grid-gap: 0.8px;
}

#root{
    display: flex;
    justify-content: center; 
    padding-top: 50px ;
}

.field{
    width: 200px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.equall{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

.clear{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6; 
}

.getBorder{
    border: 1px solid black;
    border-radius: 15px;
}

.inp{
    width: 277px;
    height: 28px;
}